<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout}">
<head>
<title>Spring Security</title>
</head>
<body>

	<div class="row justify-content-center" layout:fragment="content">

		<div class="col-md-4 ">HOME</div>

		<div sec:authorize="isRememberMe()">
			<h2># This user is login by "Remember Me Cookies".</h2>
		</div>

		<div sec:authorize="isFullyAuthenticated()">
			<h6># This user is login by username / password.</h6>
		</div>

	</div>
</body>
</html>