<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout}">
<head>
<title>Spring Security</title>
<link rel="stylesheet" th:href="@{/static/css/pwd-eye.css}" />
</head>
<body>
	<div class="row justify-content-center" layout:fragment="content">
		<div class="col-md-6 ">
			<form class="p-4" th:action="@{/do-registration}" th:method="post"
				th:object="${dto}">
				<h5 class="pb-2">REGISTER</h5>

				<div id="msgArea" th:include="/common/messages.html::messages"></div>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<i class="fas fa-user"></i> <label class="mb-0"
								for="txtFitstName" th:text="#{lblFirstName}"></label><input
								type="text" th:field="*{firstName}" id="txtFitstName"
								class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('firstName')} ? border-danger"
								autofocus="autofocus" autocomplete="off"> <small
								class="text-danger" th:if="${#fields.hasErrors('firstName')}"
								th:errors="*{firstName}"></small>

						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<i class="fas fa-user"></i> <label class="mb-0" for="txtLastName"
								th:text="#{lblLastName}"></label><input type="text"
								th:field="*{lastName}" id="txtLastName"
								class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('lastName')} ? border-danger"
								autocomplete="off"> <small class="text-danger"
								th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<i class="fas fa-envelope"></i> <label class="mb-0"
								for="txtEmail" th:text="#{lblEmail}"> </label><input type="text"
								id="txtEmail" th:field="*{email}"
								class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('email')} ? border-danger"
								autocomplete="off"> <small class="text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<i class="fas fa-unlock-alt"></i> <label class="mb-0"
								for="txtPassword" th:text="#{lblPassword}"></label><input
								type="password" th:field="*{password}" id="txtPassword"
								class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('password')} ? border-danger"
								autocomplete="off"><span toggle="#txtPassword"
								class="fa fa-fw fa-eye field-icon toggle-password"></span> <small
								class="text-danger" th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}"></small>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<i class="fas fa-unlock-alt"></i> <label class="mb-0"
								for="txtConfirmPassword" th:text="#{lblConfirmPassword}"></label><input
								type="password" th:field="*{confirmPassword}"
								id="txtConfirmPassword" class="form-control form-control-sm"
								th:classappend="${#fields.hasErrors('confirmPassword')} ? border-danger"
								autocomplete="off"><span toggle="#txtConfirmPassword"
								class="fa fa-fw fa-eye field-icon toggle-password"></span> <small
								class="text-danger"
								th:if="${#fields.hasErrors('confirmPassword')}"
								th:errors="*{confirmPassword}"></small>
						</div>
					</div>
				</div>
				<div class="row justify-content-center pt-3">
					<a class="btn btn-sm btn-secondary mr-2 col-md-2" href="@{/login}">Cancel</a>
					<button type="submit"
						class="btn btn-sm btn-secondary mr-2 col-md-2">Register</button>
				</div>
			</form>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/static/js/pwd-eye.js}"></script>
	</th:block>
</body>
</html>