<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout}">
<head>
<title>Spring Security</title>
</head>
<body>
	<div class="row justify-content-center" layout:fragment="content">
		<div class="col-md-6 ">
			<form class="p-4">
				<h5 class="pb-2">Registration Activation</h5>
				<div class="row">
					<div class="col-md">
						<div id="msgArea" th:include="/common/messages.html::messages"></div>
					</div>
				</div>
				<div class="row justify-content-center pt-3" th:if="${errors}">
					<a class="mr-2 col-md-2" th:href="@{/do-registration}">Registration</a>
				</div>
				<div class="row justify-content-center pt-3" th:if="${messages}">
					<a class="mr-2 col-md-2" href="@{/login}l">Login</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>