<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout}">
<head>
<link rel="stylesheet" th:href="@{/static/css/pwd-eye.css}" />
<title>Spring Security</title>
</head>
<body>

	<div class="row justify-content-center" layout:fragment="content">
		<div class="col-md-6 ">
			<form class="p-4" th:action="@{/forgot-pwd-reset/__${uuid}__}"
				th:method="post" th:object="${dto}">
				<h5 class="pb-2">Password Reset</h5>

				<div id="msgArea" th:include="/common/messages.html::messages"></div>

				<div th:if="${errors}">
					<div class="row justify-content-center pt-3">
						<a th:href="@{/forgot-pwd-request}">Forgot Password</a>
					</div>
				</div>
				<div th:if="${errors == null}">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<i class="fas fa-unlock-alt"></i> <label class="mb-0"
									for="txtNewPassword" th:text="#{lblNewPassword}"></label><input
									type="password" th:field="*{newPassword}" id="txtNewPassword"
									class="form-control form-control-sm"
									th:classappend="${#fields.hasErrors('newPassword')} ? border-danger"
									autocomplete="off"><span toggle="#txtNewPassword"
									class="fa fa-fw fa-eye field-icon toggle-password"></span> <small
									class="text-danger" th:if="${#fields.hasErrors('newPassword')}"
									th:errors="*{newPassword}"></small>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<i class="fas fa-unlock-alt"></i> <label class="mb-0"
									for="txtConfirmNewPassword" th:text="#{lblConfirmNewPassword}"></label><input
									type="password" th:field="*{confirmNewPassword}"
									id="txtConfirmNewPassword" class="form-control form-control-sm"
									th:classappend="${#fields.hasErrors('confirmNewPassword')} ? border-danger"
									autocomplete="off"><span
									toggle="#txtConfirmNewPassword"
									class="fa fa-fw fa-eye field-icon toggle-password"></span> <small
									class="text-danger"
									th:if="${#fields.hasErrors('confirmNewPassword')}"
									th:errors="*{confirmNewPassword}"></small>
							</div>
						</div>
					</div>
					<div class="row justify-content-center pt-3">
						<button type="submit"
							class="btn btn-sm btn-secondary mr-2 col-md-2">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<th:block layout:fragment="script">
		<script th:src="@{/static/js/pwd-eye.js}"></script>
	</th:block>
</body>
</html>