<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/common/layout}">
<head>
<link rel="stylesheet" th:href="@{/static/css/pwd-eye.css}" />
<title>Spring Security</title>
</head>
<body>

	<div class="row justify-content-center" layout:fragment="content">
		<div class="col-md-6 ">
			<form class="p-4" th:action="@{/forgot-pwd-request}" th:method="post"
				th:object="${dto}">
				<h5 class="pb-2">FORGOT PASSWORD</h5>

				<div id="msgArea" th:include="/common/messages.html::messages"></div>

				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<i class="fas fa-envelope"></i> <label class="mb-0"
								for="txtEmail">Email </label><input type="email" id="txtEmail"
								th:field="*{email}" class="form-control form-control-sm"
								autocomplete="off" required="required">
						</div>
					</div>
				</div>
				<div class="row justify-content-center pt-3">
					<a class="btn btn-sm btn-secondary mr-2 col-md-2"
						th:href="@{/login}">Cancel</a>
					<button type="submit"
						class="btn btn-sm btn-secondary mr-2 col-md-2">Send</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>